<div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Projets personnels</h2>
            </div>
        </div>
        <div class="row">
            {% for project in projects %}
                <div class="col-md-3 text-center col-padding animate-box">
                    <a href="{{ project.url }}" target="_blank" class="work" style="background-image: url({{ asset('uploads/project/' ~ project.picture) }});">
                        <div class="desc">
                            <h3>{{ project.name }}</h3>
                            <span>{{ project.description }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>