<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="animsition">
        <div class="page-wrapper">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
